<header id="nav" class="navbar-fixed-top">
	<div class="navbar-header">
		
		<a id="logo" href=<%= root_url%>>SAPPHIRINE</a>
		
	</div>
	<ul class="nav navbar-nav pull-right">
		
		<li><%= link_to "Our Project", introduction_path%></li>
		<li><%= link_to "Inspect Clusters", combinations_path%></li>
		<li><%= link_to "Group People by Car", by_car_path%></li>

	</ul>

</header>